
<div id="background-dashboard-live">
    <div id="conteiner">
      <div id="card">
        <div id="table-component">
          <!-- TABLE FILTER -->
          <div id="tfilter">
            <!-- <div id="title" fxLayoutAlign="left" fxLayout="row">
              <span>Live View</span>
            </div> -->
            <div id="title">
                <span>Live View</span>
              </div>
            <!-- <div id="input-filter">
              <fury-list [columns]="columns" (filterChange)="onFilterChange($event)" fxLayoutAlign="center center" fxLayout="row"></fury-list>
            </div>
            -->
            <!-- <div style="margin-left: 50px"> 
              <mat-form-field>
                <input matInput placeholder="Buscar..." value="">
              </mat-form-field>
            </div>
            <div style="margin-left: 20px">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Data">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div> -->
            <div id="input-filter" style="margin-left: 20px">
              <mat-form-field>
                  <mat-select placeholder="Rastreadores" [(ngModel)]="selectedValue" id="idRastreador" [disabled]="textoRastrear != 'Rastrear'"> 
                    <mat-option *ngFor="let rastreador of rastreadores" [value]="rastreador">
                      {{rastreador}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- <mat-form-field>
                  <mat-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field> -->
            </div>
            <div id="input-lived" style="margin-left: 20px">
              <mat-checkbox [disabled]="textoRastrear != 'Rastrear'" [(ngModel)]="lived">Tempo real</mat-checkbox>
            </div>
            <div style="margin-left: 20px">
              <button  mat-raised-button id="rastrear" [disabled]="textoRastrear != 'Rastrear'" (click)="rastrear()">{{textoRastrear}}</button>
            </div>
            <div style="margin-left: 20px" *ngIf="textoRastrear != 'Rastrear'">
               <button  mat-raised-button id="cancelar" (click)="desativarRastrear()">Cancelar Rastreamento</button>
            </div>

            <!-- <div id="add">
              <button mat-mini-fab color="primary"  matTooltip="Adicionar Item" [matTooltipPosition]="'above'" (click)="create()" id="create">
                <mat-icon aria-label="Adicionar">add</mat-icon>
              </button>
            </div> -->
          </div>

          <!-- TABLE HEADER -->
          <!-- The header is separate so you do not lose the filters or the sorting and keep the layout-->
          <div id="tmaster">
            <!-- <div id="thead" matSort>
              <div class="table-header">
                <div *ngFor="let column of columns" class="{{column.property}}" mat-sort-header="{{column.property}}" 
                [style.display]="column.visible ? 'flex' : 'none'" fxLayoutAlign="center">
                  {{column.name | uppercase}}
                </div>
              </div>
            </div> -->
            <!-- border:1px solid black; -->
            <div id="teste" style="width: 100%; height: 800px; background: white;" >
              <!-- <div #map id="map" style="width: 100%; height: 800px"></div> -->
              <div #map id="map" style="width: 98%; 
                                        height: 98%;
                                        padding-left: 1%;
                                        padding-right: 1%;
                                        padding-bottom: 1%;
                                        padding-top: 1%;
                                        border:1px solid beige">
              </div>
            </div>
            <div id="tbody">
            </div>
            <!-- TABLE BODY -->
            <!-- <agm-map id="map" [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map> -->

            <!-- <div id="tbody"> -->

              <!-- <agm-map class="fury-map" [latitude]="lat" [longitude]="lng" style="width: 50%;height: 50%;">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map> -->

              <!-- <agm-map id="map" [latitude]="lat" [longitude]="lng">
                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map> -->
      
            <!-- </div> -->
          
          </div>
          <!-- TABLE FOOTER -->
          <!-- <div id="tfooter">
            <mat-paginator class="paginator" [pageSize]="pageSize" color="primary"></mat-paginator>
          </div> -->
        </div>
      </div>
    </div>
  </div>

