<div id="background-dashboard-live">
  <div id="conteiner">
    <div id="card">
      <div id="table-component">
        <!-- <div id="tfilter"> -->
          <div fxLayout="row" fxLayoutAlign="space-around center" >
          <div id="title" fxFlex="20">
            <span style="font-weight: bold; font-size: large;">Live View</span>
          </div>

          <mat-form-field
            id="calendar"
            appearance="fill"
            fxFlex="20"
          >
            <mat-label>Dia</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              (dateChange)="getDate($event)"
              [value]="value"
              disabled
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
          </mat-form-field>

          <mat-form-field style="margin-left: 5px;" fxFlex="10">
            <input
              matInput
              placeholder="Inicio"
              value="08:00"
              id="start"
              type="time"
            />
          </mat-form-field>
          <mat-form-field style="margin-left: 5px;" fxFlex="10">
            <input
              matInput
              placeholder="Fim"
              value="12:00"
              id="end"
              type="time"
            />
          </mat-form-field>

          <div id="input-filter" style="margin-left: 20px;" fxFlex="30">
            <mat-form-field>
              <mat-select
                placeholder="Placa do Carro"
                [(ngModel)]="selectedValue"
                id="idRastreador"
                (ngModelChange)="listarDate($event)"
                [disabled]="textoRastrear != 'Rastrear'"
              >
                <mat-option
                  *ngFor="let rastreador of rastreadores"
                  [value]="rastreador"
                >
                  {{ rastreador }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div id="input-lived" style="margin-left: 20px;" fxFlex="15">
            <mat-checkbox
              [disabled]="textoRastrear != 'Rastrear'"
              color="primary"
              [(ngModel)]="lived"
              >Tempo real</mat-checkbox
            >
          </div>
          <div style="margin-left: 20px;" *ngIf="textoRastrear == 'Rastrear'" fxFlex="20">
            <button
              mat-raised-button
              id="rastrear"
              [disabled]="textoRastrear != 'Rastrear'"
              (click)="rastrear_v2()"
            >
              {{ textoRastrear }}
            </button>
          </div>
          <div
            style="margin-left: 20px;"
            *ngIf="textoRastrear == 'Rastreando...'"
          >
            <button
              mat-raised-button
              id="rastrear"
              [disabled]="textoRastrear != 'Rastrear'"
              (click)="rastrear_v2()"
            >
              {{ textoRastrear }}
            </button>
          </div>

          <div style="margin-left: 20px;" *ngIf="textoRastrear != 'Rastrear'">
            <button
              mat-raised-button
              id="cancelar"
              (click)="desativarRastrear()"
            >
              Cancelar Rastreamento
            </button>
          </div>
        </div>
      <!-- </div> -->
        <div id="teste" style="width: 95%; height: 90%; background: white;">
          <div
            #map
            id="map"
            style="
              width: 100%;
              height: 100%;
              padding-left: 1%;
              padding-right: 1%;
              padding-bottom: 1%;
              padding-top: 1%;
              border: 1px solid;
              border-color: rgba(0, 0, 0, 0.05);
              position: relative;
            "
          >
            <dashboard-live-map-button
              *ngIf="textoRastrear != 'Rastrear'"
              class="button-custom"
              [transport]="transport"
            ></dashboard-live-map-button>
          </div>

          <div id="tbody"></div>
        </div>
      </div>
    </div>
  </div>
</div>
