
<fury-dialog-panel>

    <div class="form-content">
        <div class="form-title">
            <span>Cadastrar Setor</span>
        </div>
        <div class="form-fields">
            <form [formGroup]="form">
                <div class="name">
                    <mat-form-field>
                        <input matInput 
                        placeholder="Nome do Setor" 
                        maxlength="255" pattern="^(?!\s*$).+" 
                        formControlName="name" 
                        id="name" 
                        (keyup)="verifySector($event.target.value)"
                        required/>
                    </mat-form-field>
                </div>
                <div class="department">
                        <mat-form-field>
                            <mat-select  
                            placeholder="Selecione um Departamento" 
                            formControlName="idDepartment" 
                            id="department" 
                            (selectionChange)="verifySector(form.get('name').value)"
                            required>
                                <mat-option *ngFor="let department of departments" [value]="department.id">
                                    {{ department.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
            </form>
        </div>
    </div>
    <div class="footer-content" footer-content>
        <button *ngIf="isCreateMode()" mat-raised-button [disabled]="!form.valid" class="btn-rounded btn-save" (click)="save()" color="primary">SALVAR</button>
        <button *ngIf="isUpdateMode()" mat-raised-button [disabled]="!form.valid" class="btn-rounded btn-save" color="primary"  (click)="save()">ATUALIZAR</button>
    </div>

</fury-dialog-panel>

