<div class="dialog-content-close">
    <button type="button" class="mat-icon-button" mat-dialog-close>
        <span class="mat-button-wrapper">
            <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">close</mat-icon>
        </span>
    </button>
</div>

<h1 mat-dialog-title>Usuário</h1>

<div mat-dialog-content>
  

</div>

      
<div mat-dialog-actions>
    <button mat-raised-button class="btn-rounded btn-delete" mat-dialog-close>CANCELAR</button>
    <button mat-raised-button class="btn-rounded btn-delete" mat-dialog-close>ATUALIZAR</button>
</div>