<fury-dialog-panel>
    <div class="form-content">
        <div class="form-title">
            <span>Cadastrar Materiais</span>
        </div>
        <div class="form-fields">
            <mat-vertical-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Preencha o Nome e o Endereço do Material</ng-template>
                        <div>
                            <mat-form-field>
                                <input matInput placeholder="Nome do Material" pattern="^(?!\s*$).+" formControlName="name"
                                    id="name" required maxlength="255" />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput placeholder="Endereço" pattern="^(?!\s*$).+" formControlName="address"
                                    id="address" required maxlength="255" />
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-button matStepperNext>Próximo</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Selecione as Opções</ng-template>
                        <div>
                            <mat-form-field>
                                <mat-select placeholder="Selecione o Segmento" formControlName="idSegment" id="idSegment" required>
                                    <mat-option *ngFor="let segment of segments" [value]="segment.id">
                                        {{segment.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-select placeholder="Selecione o Fabricante" (selectionChange)="loadModels(secondFormGroup.get('idFabricator').value)"
                                    formControlName="idFabricator" id="idFabricator" required>
                                    <mat-option *ngFor="let fabricator of fabricators" [value]="fabricator.id">
                                        {{fabricator.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-select placeholder="Selecione o Modelo" formControlName="idModel" id="idModel" required>
                                    <mat-option *ngFor="let model of models" [value]="model.id">
                                        {{model.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-select placeholder="Selecione o Setor" formControlName="idSector" id="idSector"
                                    required>
                                    <mat-option *ngFor="let sector of sectors" [value]="sector.id">
                                        {{sector.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div>
                            <button mat-button matStepperPrevious>Voltar</button>
                            <button mat-button matStepperNext>Próximo</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="thirdFormGroup">
                    <form [formGroup]="thirdFormGroup">
                        <ng-template matStepLabel>Preencha as Quantidades</ng-template>
                        <div>
                            <mat-form-field>
                                <input matInput placeholder="Quantidade Real" pattern="^(?!\s*$).+" formControlName="realQuantity" integer
                                    id="realQuantity" required maxlength="255" />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput placeholder="Quanitdade Máxima" pattern="^(?!\s*$).+" formControlName="maximumQuantity" integer
                                    id="maximumQuantity" required maxlength="255" />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput placeholder="Quanitdade Mínima" pattern="^(?!\s*$).+" formControlName="minimumQuantity" integer
                                    id="minimumQuantity" required maxlength="255" />
                            </mat-form-field>
                        </div>

                        <div>
                            <button mat-button matStepperPrevious>Voltar</button>
                            <button mat-button matStepperNext>Próximo</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="fourthFormGroup">
                    <form [formGroup]="fourthFormGroup">
                        <ng-template matStepLabel>Preencha as Informações Sobre o Sinergi</ng-template>
                        <div>
                            <mat-form-field>
                                <input matInput placeholder="Código Sinergi" pattern="^(?!\s*$).+" formControlName="sinergiCode"
                                    id="sinergiCode" required maxlength="255" />
                            </mat-form-field>

                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput placeholder="Valor no Sinergi" pattern="^(?!\s*$).+" formControlName="sinergiValue"
                                    id="sinergiValue" required maxlength="255" currency/>
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-button matStepperPrevious>Voltar</button>
                        </div>
                    </form>
                </mat-step>
            </mat-vertical-stepper>


        </div>
    </div>

    <div class="footer-content" footer-content>
        <button *ngIf="isCreateMode()" mat-raised-button [disabled]="!(firstFormGroup.valid && secondFormGroup.valid && thirdFormGroup.valid && fourthFormGroup.valid)" class="btn-rounded btn-save"
            (click)="save()" color="primary">SALVAR</button>
        <button *ngIf="isUpdateMode()" mat-raised-button [disabled]="!(firstFormGroup.valid && secondFormGroup.valid && thirdFormGroup.valid && fourthFormGroup.valid)" class="btn-rounded btn-save"
            color="primary" (click)="save()">ATUALIZAR</button>
    </div>


</fury-dialog-panel>