<div class="user-button" #userButton (furyClickOutside)="onClickOutside()" fxFlex="grow">
    <button class="button" mat-button (click)="toggleDropdown()" [class.open]="isOpen" fxFlex="grow">
    <span fxLayout="row" fxLayoutAlign="start center">
      <!-- <img class="avatar" src="assets/rcr/icone user@2x.png"> -->
      <!-- <span class="name" fxHide fxShow.gt-sm>{{session.userName}}</span> -->
      <span class="name" fxHide fxShow.gt-sm>Veja informações do Rastreador</span>
      <mat-icon class="icon" fxHide fxShow.gt-sm>keyboard_arrow_down</mat-icon>
    </span>
  </button>

  <div class="dropdown mat-elevation-z1" [class.open]="isOpen">
    <div class="content">
      <div class="list">
        <div style="margin-top: 5%;
                    margin-left: 8%;">
          <mat-icon class="icon-custom ">router</mat-icon>
          <!-- <span class="title">Editar perfil</span> -->
        </div>
        <div style="margin-top: 5%;
                    margin-left: 8%;">
            <span class="label">{{transport.tracker.trackerModel}}</span>
            <!-- <span class="title">\n Alterar senha</span> -->
        </div>
        <div>
            <span class="label-item">{{transport.type}}</span>
        </div>
        <mat-divider style="margin-top: 5%"></mat-divider>
        <div style="margin-top: 5%;
                    margin-left: 8%;">
        <span class="label" style="font-size: 12px">PLACA DO VEÍCULO</span>
        <!-- <span class="title">\n Alterar senha</span> -->
        </div>
        <div>
        <span class="label-item" style="font-size: 12px">{{transport.vehiclePlate}}</span>
        </div>
        <div style="margin-top: 5%;
                    margin-left: 8%;">
        <span class="label" style="font-size: 12px">EMPRESA ASSOCIADA</span>
        <!-- <span class="title">\n Alterar senha</span> -->
        </div>
        <div>
        <span class="label-item" style="font-size: 12px">{{transport.thirdCompany}}</span>
        </div>
        <div style="margin-top: 5%;
                    margin-left: 8%;">
        <span class="label" style="font-size: 12px">DATA</span>
        <!-- <span class="title">\n Alterar senha</span> -->
        </div>
        <div>
        <span class="label-item" style="font-size: 12px">{{data}}</span>
        </div>
        <div style="margin-top: 5%;
                    margin-left: 8%;">
          <span class="label" style="font-size: 12px">HORA</span>
          <!-- <span class="title">\n Alterar senha</span> -->
        </div>
        <div>
          <span class="label-item" style="font-size: 12px">{{hora}}</span>
        </div>
        <div style="margin-top: 5%;">
        </div>
        <!-- <div class="item" matRipple>
          <mat-icon class="icon" >exit_to_app</mat-icon>
          <span class="title">Sair do sistema</span>
        </div> -->
      </div>
    </div>
  </div>
</div>
