<!-- <div>
  <span class="title-rastreador">{{ data.title }}</span>
</div>
<div mat-dialog-content>
  <p class="item-rastreador">{{ data.displayBody }} {{ data.displayName }}</p>
</div>
<ng-container *ngIf="data.type == 'add'">
  <div>
    <mat-form-field>
      <mat-select placeholder="Rastreadores" [(ngModel)]="selectedValue" id="idRastreador"> 
        <mat-option *ngFor="let rastreador of rastreadores" [value]="rastreador.serialKey">
          {{rastreador.serialKey}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</ng-container>

<div mat-dialog-actions>
    <button mat-raised-button class="btn-rounded btn-rastreador" mat-dialog-close>CANCELAR</button>
    <button mat-raised-button class="btn-rounded btn-rastreador" (click)="confirm()">CONFIRMAR</button>
</div> -->
<fury-dialog-panel>
  <div class="form-content">
      <div class="form-title" header-content>
          <span>Alterar senha</span>
      </div>
      <div class="form-fields">
          <form [formGroup]="form">
              <div class="row" > 
                  <div class="currentPassword field" >
                      <mat-form-field>
                          <input matInput type="password" placeholder="Senha atual" pattern="^(?!\s*$).+" formControlName="currentPassword" id="currentPassword" required/>
                      </mat-form-field>                   
                  </div>
              </div>
              <div class="row"> 
                  <div class="newPassword field">
                      <mat-form-field>
                          <input matInput type="password" placeholder="Nova senha" pattern="^(?!\s*$).+" formControlName="newPassword" id="newPassword" required />
                      </mat-form-field>                   
                  </div>
              </div>
              <div class="row"> 
                  <div class="confirmPassword field">
                      <mat-form-field>
                          <input matInput type="password" placeholder="Repita a nova senha" pattern="^(?!\s*$).+" formControlName="confirmPassword" id="confirmPassword" required />
                          <!-- <div class="alert alert-danger" *ngIf="form.controls.confirmPassword.errors?.MutchPassword">Senhas divergentes</div> -->
                      </mat-form-field>
                  </div>
              </div>
          </form>
      </div>
    </div>   
  <!-- <div class="footer-content" footer-content>
      <button *ngIf="isCreateMode()" mat-raised-button [disabled]="!form.valid" class="btn-rounded btn-save" (click)="saveCustom()">SALVAR</button>
      <button *ngIf="isUpdateMode()" mat-raised-button [disabled]="!form.valid" class="btn-rounded btn-save" (click)="save()" style="background-color: #FFC937">ATUALIZAR</button>
  </div> -->
  <div class="footer-content" footer-content>
    <!-- <button mat-raised-button [disabled]="!form.valid" class="btn-rounded btn-rastreador" mat-dialog-close>CANCELAR</button> -->
    <button mat-raised-button [disabled]="!form.valid" class="btn-rounded btn-save" (click)="confirm()">SALVAR</button>
  </div>
   

  </fury-dialog-panel>