<fury-dialog-panel>
    <div class="form-content">
        <div class="form-title">
            <span>Cadastrar Prioridade</span>
        </div>
        <div class="form-fields">
            <form [formGroup]="form">
                <div class="name">
                    <mat-form-field>
                        <input matInput placeholder="Digite o Nível de Prioridade" (blur)="verifyPriority($event.target.value)" 
                            formControlName="name" id="name" required maxlength="255" pattern="^(?!\s*$).+"/>
                    </mat-form-field>
                </div>
                <div class="color">
                    <mat-form-field>
                        <mat-select placeholder="Escolha uma Cor" formControlName="color" id="color" pattern="\#[a-fA-F0-9]{6}"
                            required>
                            <mat-option *ngFor="let color of colors" [value]="color.id">
                                <span>
                                    <!-- icon option -->
                                    <div [ngStyle]="{'background-color': color.id}" class="circle-small"></div>
                                    <!-- text option -->
                                    {{color.name}}
                                </span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
    <div class="footer-content" footer-content>
        <button *ngIf="isCreateMode()" mat-raised-button [disabled]="!form.valid" class="btn-rounded btn-save" (click)="save()"
            color="primary">SALVAR</button>
        <button *ngIf="isUpdateMode()" mat-raised-button [disabled]="!form.valid" class="btn-rounded btn-save" color="primary"
            (click)="save()">ATUALIZAR</button>
    </div>

</fury-dialog-panel>