// $mat-sgm-primary: (
//     50 : #e5e7eb,
//     100 : #bec4cc,
//     200 : #939dab,
//     300 : #687689,
//     400 : #47586f,
//     500 : #273b56,
//     600 : #23354f,
//     700 : #1d2d45,
//     800 : #17263c,
//     900 : #0e192b,
//     A100 : #699bff,
//     A200 : #3679ff,
//     A400 : #0357ff,
//     A700 : #004ee9,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #ffffff,
//         400 : #ffffff,
//         500 : #ffffff,
//         600 : #ffffff,
//         700 : #ffffff,
//         800 : #ffffff,
//         900 : #ffffff,
//         A100 : #000000,
//         A200 : #ffffff,
//         A400 : #ffffff,
//         A700 : #ffffff,
//     )
// );

$mat-sgm-primary: (
    50 : #e8e9fb,
    100 : #c5c9f5,
    200 : #9fa5ef,
    300 : #7980e8,
    400 : #5c65e3,
    500 : #3f4ade,
    //500 : #000000,
    600 : #3943da,
    700 : #313ad5,
    800 : #2932d1,
    900 : #1b22c8,
    A100 : #fdfdff,
    A200 : #caccff,
    A400 : #979bff,
    A700 : #7e82ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-sgm-accent: (
    50 : #e7ecea,
    100 : #c2cecb,
    200 : #99aea9,
    300 : #708e87,
    400 : #52756d,
    500 : #335d53,
    600 : #2e554c,
    700 : #274b42,
    800 : #204139,
    900 : #143029,
    A100 : #71ffda,
    A200 : #3effcd,
    A400 : #0bffbf,
    A700 : #00f1b2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// $mat-sgm-warn: (
//     50 : #f5f7f8,
//     100 : #e6eaed,
//     200 : #d6dde2,
//     300 : #c6cfd6,
//     400 : #b9c4cd,
//     500 : #adbac4,
//     600 : #a6b3be,
//     700 : #9cabb6,
//     800 : #93a3af,
//     900 : #8394a2,
//     A100 : #ffffff,
//     A200 : #fdfeff,
//     A400 : #c9e7ff,
//     A700 : #b0dbff,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #000000,
//         400 : #000000,
//         500 : #000000,
//         600 : #000000,
//         700 : #000000,
//         800 : #000000,
//         900 : #000000,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #000000,
//         A700 : #000000,
//     )
// );

$mat-sgm-warn: (
    50 : #fee8e7,
    100 : #fbc6c3,
    200 : #f9a19b,
    300 : #f77b72,
    400 : #f55e54,
    500 : #f34236,
    600 : #f13c30,
    700 : #ef3329,
    800 : #ed2b22,
    900 : #ea1d16,
    A100 : #ffffff,
    A200 : #ffe8e7,
    A400 : #ffb6b4,
    A700 : #ff9d9b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-calendar: (
    50 : #eff1f3,
    100 : #d8dce1,
    200 : #bec4cd,
    300 : #a4acb8,
    400 : #919ba9,
    500 : #7d899a,
    600 : #758192,
    700 : #6a7688,
    800 : #606c7e,
    900 : #4d596c,
    A100 : #cfe1ff,
    A200 : #9cc1ff,
    A400 : #69a1ff,
    A700 : #5092ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
