
<fury-dialog-panel>

    <div class="form-content">
        <div class="form-title">
            <span>Cadastrar de Medida</span>
        </div>
        <div class="form-fields">
            <form [formGroup]="form">
                <div class="name">
                    <mat-form-field>
                        <input matInput placeholder="Nome da Unidade de Medida" pattern="^(?!\s*$).+" formControlName="name" id="name" required />
                    </mat-form-field>
                </div>
                <div class="initials">
                        <mat-form-field>
                            <input matInput placeholder="Nome da Sigla" pattern="^(?!\s*$).+" formControlName="initials" id="initials" required />
                        </mat-form-field>
                    </div>
            </form>
        </div>
    </div>
    <div class="footer-content" footer-content>
        <button *ngIf="isCreateMode()" mat-raised-button [disabled]="!form.valid" class="btn-rounded btn-save" (click)="save()" color="primary">SALVAR</button>
        <button *ngIf="isUpdateMode()" mat-raised-button [disabled]="!form.valid" class="btn-rounded btn-save" color="primary"  (click)="save()">ATUALIZAR</button>
    </div>

</fury-dialog-panel>

