<fury-dialog-panel>

    <div class="form-content">
        <div class="form-title">
            <span>Cadastrar SLA</span>
        </div>
        <div class="form-fields">
            <form [formGroup]="form">
                <div class="name">
                    <mat-form-field>
                        <input matInput placeholder="SLA" formControlName="name" mask="0* SSSSSSS"
                            [dropSpecialCharacters]="false" pattern="^\d+\s\w{1,7}$" maxlength="255"
                            [errorStateMatcher]="matcher" (blur)="verifySla($event.target.value)">
                        <mat-hint>exemplo: 10 minutos</mat-hint>
                        <mat-error>
                            Digite <strong>números</strong>, dê um <strong>espaço</strong> e depois digite a <strong>unidade</strong>
                            por extenso
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="time">
                    <mat-form-field>
                        <input matInput integer placeholder="Tempo (em minutos)" maxlength="255" pattern="^[0-9]+$"
                            formControlName="time" id="time" required />
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
    <div class="footer-content" footer-content>
        <button *ngIf="isCreateMode()" mat-raised-button [disabled]="!form.valid" class="btn-rounded btn-save" (click)="save()"
            color="primary">SALVAR</button>
        <button *ngIf="isUpdateMode()" mat-raised-button [disabled]="!form.valid" class="btn-rounded btn-save" color="primary"
            (click)="save()">ATUALIZAR</button>
    </div>

</fury-dialog-panel>