<fury-dialog-panel>

    <div class="form-content">
        <div class="form-title">
            <span>Cadastrar Peça</span>
        </div>
        <div class="form-fields">
            <form [formGroup]="form">
                <div class="row">
                    <div class="name field">
                        <mat-form-field>
                            <input matInput placeholder="Nome da Peça" pattern="^(?!\s*$).+" formControlName="name" id="name"
                                required maxlength="255" />
                        </mat-form-field>
                    </div>

                    <div class="serialNumber field">
                        <mat-form-field>
                            <input matInput placeholder="Número de Série" pattern="^(?!\s*$).+" formControlName="serialNumber"
                                id="serialNumber" required maxlength="255" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="provider field">
                        <mat-form-field>
                            <input matInput placeholder="Nome do Fornecedor" pattern="^(?!\s*$).+" formControlName="provider"
                                id="provider" maxlength="255" />
                        </mat-form-field>
                    </div>

                    <div class="charging field">
                        <mat-form-field>
                            <input type="text" integer matInput formControlName="charging" placeholder="Alimentação"
                                maxlength="255">
                            <span matSuffix>V</span>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="idFabricator field">
                        <mat-form-field>
                            <mat-select placeholder="Selecione o Fabricante" (selectionChange)="loadModels(form.get('idFabricator').value)"
                                formControlName="idFabricator" id="idFabricator" required>
                                <mat-option *ngFor="let fabricator of fabricators" [value]="fabricator.id">
                                    {{fabricator.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="idModel field">
                        <mat-form-field>
                            <mat-select placeholder="Selecione o Modelo" formControlName="idModel" id="idModel"
                                required>
                                <mat-option *ngFor="let model of models" [value]="model.id">
                                    {{model.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="idSegment field">
                        <mat-form-field>
                            <mat-select placeholder="Selecione o Segmento" formControlName="idSegment" id="idSegment"
                                required>
                                <mat-option *ngFor="let segment of segments" [value]="segment.id">
                                    {{segment.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="exclusive field">
                        <div class="label">
                            <span>Exclusivo?</span>
                        </div>
                        <div class="toogle">
                            <mat-slide-toggle labelPosition="before" color="primary" (change)="onChange($event)" [checked]="form.get('exclusive').value"></mat-slide-toggle>
                        </div>
                    </div>
                </div>

                <div class="row image-component">
                    <div class="picture-display" (click)="fileInput.click()">
                        <img [src]="urlImg" *ngIf="urlImg" id="preview">
                        <div class="picture-overlay" *ngIf="!urlImg">
                        </div>
                    </div>

                    <div class="picture">
                        <!-- <button [matTooltip]="fileName" [matTooltipPosition]="'above'" mat-raised-button (click)="fileInput.click()"
                            type="button" class="btn-rounded"> -->
                          <span [matTooltip]="fileName" [matTooltipPosition]="'above'">{{ fileName ? ( fileName | reticence ) : '' }}</span>  
                        <!-- </button> -->
                        <button matTooltip="Limpar seleção" [matTooltipPosition]="'above'" *ngIf="selectedFile || urlImg"
                            (click)="clearFileSelected()" class="btn-icon no-shadow btn-clear">
                            <mat-icon aria-label="Limpar">close</mat-icon>
                        </button>
                        <input type="file" id="uploadPicture" class="hidden-input" accept=".jpeg, .png, .jpg, .bmp, .gif"
                        (change)="fileChange($event)" #fileInput>
                    </div>
                    <mat-hint>{{ fileSize ? (fileSize | size ) : '' }}</mat-hint>
                    
                    <div class="progress" [hidden]="!progress">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        <mat-hint>Fazendo upload da imagem...</mat-hint>
                    </div>
                </div>


            </form>
        </div>
    </div>
    <div class="footer-content" footer-content>
        <!-- <button [disabled]="!selectedFile" mat-raised-button class="btn-rounded btn-save" (click)="upload()"
            color="primary">upload</button> -->
        <button *ngIf="isCreateMode()" mat-raised-button [disabled]="!form.valid" class="btn-rounded btn-save" (click)="save()"
            color="primary">SALVAR</button>
        <button *ngIf="isUpdateMode()" mat-raised-button [disabled]="!form.valid" class="btn-rounded btn-save" color="primary"
            (click)="save()">ATUALIZAR</button>
    </div>

</fury-dialog-panel>