
@import "_custom_color_scheme.scss";
//$theme-background: map-get($map: $mat-sgm-primary, $key: 500);
$theme-background: #000000;

// Lista de campos
$fields: ('id',
'name',
'actions'
);

// Padroniza o tamanho dos campos
$length: 100/length($fields)*1%;


.button-custom {
    // border-left: 1px solid rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.16);
    display: flex;
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 2;
    background-color: white;
    width: 250px;
}

@mixin column-width($property) {
    max-width: $property;
    min-width: $property;
    width: $property;    
}

// centralizes all container items
%flex-center {
    display: flex;
    flex: 1 1 auto;
    align-content: center;
    justify-content: center;
    align-items: center;
}

// Configurações não padrões para as colunas
%table-columns {

    @each $heading in $fields {

        .#{$heading} {
            @include column-width($length);
            margin-left: auto;
            margin-right: auto;
            padding-left: 24px; // sorting arrow discount
        }

        .mat-column-#{$heading} {
            @include column-width($length);
            margin-left: auto;
            margin-right: auto;
            @if #{$heading}==actions {
                button {
                    margin: 5px;
                }
            }
        }
    }
}

html,
body {
    height: 100%;
    margin: 0px;
    align-items: center;
}

mat-form-field {
    flex: 1 1 auto;
}

#rastrear {
    flex: .5 1 auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    font-size: 100%;
    background-color: #FFC937;
    color: white;
    font-weight: normal;
}

#confirmar {
    flex: .5 1 auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    font-size: 100%;
    background-color: #FFC937;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

#pesquisar {
    flex: .5 1 auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    font-size: 100%;
    background-color: #3F4ADE; //#FFC937;
    color: white;
    font-weight: 500;
    width: 95px;
    font-size: 14px;
}

#rota {
    flex: .5 1 auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    font-size: 100%;
    background-color: black;//rgb(216, 214, 209);
    color: white;
    font-weight: 500;
    width: 95px;
    font-size: 14px;
}

#cancelar {
    flex: .5 1 auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    font-size: 100%;
    background-color: red;
    color: white;
    font-weight: normal;
}

#limpar {
    flex: .5 1 auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    font-size: 100%;
    //background-color: red;
    background-color: #BDC3C7;
    color: white;
    font-weight: 500;
    width: 95px;
    font-size: 14px;
}


.form-title-routes {
    font-size: 120%;
    color: black;
    font-weight: bold;
    text-align: center;
    height: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
}

#background-dashboard-routes-employee {
    
    height: 94%;
    flex-direction: column;
    box-sizing: border-box;
    @extend %flex-center;
    max-width: 100%; //background: green;
    #conteiner {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: stretch;
        align-items: stretch;
        align-content: stretch;
        height: 96%;
        width: 96%;
        #card {
            flex: 1 1 auto;
            display: flex;
            flex-wrap: wrap;
            #table-component {
                //background-color: #273B56;
                flex: 1 1 auto;
                // display: flex;
                flex-direction: column;
                #tfilter {
                    @extend %flex-center;
                    display: flex;
                    min-height: 74px;
                    //box-shadow: 0px 3px 6px rgba( black, 0.16);
                    color: $theme-background;
                    z-index: 2;
                    #title {
                        text-align: center;
                        font-size: 150%;
                        font-weight: bold;
                        display: flex;
                        flex: 1 1 auto;
                        max-width: 15%; //background: yellow;
                        //border-right: 1px #707070 solid;
                        span {
                            flex: 1 1 auto;
                        }
                    }
                    #input-filter {
                        @extend %flex-center;
                        // max-width: 76.5%;
                        max-width: 70.5%;

                        .fury-filter-input-icon {
                            width: 1.2em;
                            color: #C0C6C9;
                            height: 22px;
                            font-size: 22px;
                        }

                        // .mat-form-field-underline{
                        //     display: none;
                        // }

                        // .mat-form-field-wrapper{
                        //     border-width: 1px !important;
                        //     border-style: solid;
                        //     border-color: #BDC3C7; //#ced4da; 
                        //     border-radius: 5px;
                        //     padding-top: .5rem;
                        //     padding-left: 8px;
                        //     padding-right: 8px;
                        //     padding-bottom: .3rem;
                        //     font-size: .875rem;
                        //     //line-height: 1.5;
                        // }

                        fury-list {
                            flex: 1 1 auto;
                            .fury-list-table {
                                flex: 1 1 auto;
                                .fury-list-name {
                                    display: none;
                                }
                                .fury-list-header {
                                    border-bottom: unset !important;
                                    background: unset !important;
                                    div {
                                        align-items: center !important;
                                        justify-content: center !important;
                                    }
                                }
                            }
                        }
                    }
                    #add {
                        display: flex;
                        max-width: 8.5%;
                        @extend %flex-center;
                        button {
                            box-shadow: 0px 3px 6px rgba( black, 0.26);
                        }
                    }
                }
                // #map {
                //     flex: 10 1 auto; // background: brown;
                //    // align-items: flex-start;
                //    // text-align: center;
                //     display: flex;
                //     box-sizing: border-box;
                //     height: 91%;
                //     width: 91%;
               
                //    // box-shadow: 0px 3px 6px rgba( black, 0.16);
                //    // z-index: 1;
                //    // overflow: auto;
                //    //height: 0;
                //    // width: 1280px; 
                //    // height: 768px;
                //    // min-height: 500px;
                //    // min-width: 500px;
                // }
                #tmaster {
                    display: flex;
                    flex: 12 1 auto;
                    flex-direction: column;
                    #thead {
                        @extend %flex-center;
                        text-align: center;
                        min-height: 35px;
                        .mat-sort-header-container {
                            display: flex;
                            justify-content: center !important;
                        }
                        .table-header {
                            width: 100%;
                            color: $theme-background;
                            display: inline-flex;
                            font-weight: bold;
                            /* HEADER */
                            @extend %table-columns;
                        }
                    }
                    #tbody {
                        flex: 10 1 auto; // background: brown;
                        align-items: flex-start;
                        text-align: center;
                        display: flex;
                        //box-shadow: 0px 3px 6px rgba( black, 0.16);
                        z-index: 1;
                        overflow: auto;
                        height: 0;
                        #map{
                            width: 100%;
                        }
                        mat-table {
                            width: 100%;
                            mat-header-row {
                                display: none;
                            }
                            .mat-header-cell:first-child {
                                padding-left: unset !important;
                            }
                            .mat-header-cell:last-child {
                                padding-right: unset !important;
                            }
                            mat-row:hover {
                                background-color: rgba($theme-background, .08);
                            }
                            mat-cell {
                                color: $theme-background !important;
                                align-items: center !important;
                                padding-left: unset !important;
                                padding-right: unset !important;
                                font-size: 100%;
                            }
                            .mat-column-expandedDetail {
                                
                                -webkit-box-shadow: inset 0px 18px 10px -18px rgba(0,0,0,0.2);
                                -moz-box-shadow: inset 0px 18px 10px -18px rgba(0,0,0,0.2);
                                box-shadow: inset 0px 18px 10px -18px rgba(0,0,0,0.2);

                                .element-detail {
                                    padding: 20px;
                                    text-align: left;

                                    label {
                                        font-weight: 500;
                                    }

                                    p {
                                        font-weight: 300;
                                    }
                                }
                            }

                            .element-row {
                                position: relative;
                            }
                            /* BODY */
                            @extend %table-columns;
                        }
                    }
                }
                #tfooter {
                    @extend %flex-center;
                    text-align: center;
                    min-height: 60px;
                    .paginator {
                        width: 100%;
                        color: $theme-background;
                        font-size: 100%;
                    }
                }
            }
        }
    }
}

// caption formatting
.circle-small {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
}

.circle {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
}

@media screen and (max-width: 320px) {
    .paginator{
        font-size:14px !important;
    }
}

@media screen and (max-width: 360px) {
    #title {
        font-size: 100% !important;
    }
    .fury-filter-input{
        width: 80px;
    }
    .mat-paginator-range-label {
        margin: unset !important;
    }
}

@media screen and (max-width: 800px) {
    %unset-width{
        flex: 1 1 auto !important;
        max-width: unset !important;
        min-width: unset !important;
        width: unset !important;
    }
    #tfilter {
        #title, #input-filter, #add, #input-lived{
            @extend %unset-width;
        }
        #add{
            border-right: unset !important;
        }
    }
    #thead {
        display: none !important;
    }
    #tbody{
        height: 0px !important; // fix layout in the firefox
        // .agm-map-container-inner {
        //     height: 100%;
        //     width: 100%;
        // }
    }
        mat-table {
        @each $heading in $fields {
            .mat-column-#{$heading} {
                @include column-width(unset !important);
            }
        }

        mat-row {
            flex-flow: column;
        }
    }
    #map{
        // height: 0 !important;
    }
    .mat-paginator-container {
        padding: 0 8px !important;
    }
    .fury-list-table .fury-list-header {
        margin: unset !important;
        padding: unset !important;
        .fury-column-filter {
            display: none !important;
        }
    }
    
    // .agm-map-container-inner {
    //     height: 100%;
    // }
}

