
@import "_custom_color_scheme.scss";
//$color-font: map-get($map: $mat-sgm-primary, $key: 500);
$color-font: #000000;

.dialog-content {
    .form-content {
        display: flex;
        flex-direction: column;
        height: 100%;

        .form-title {
            font-size: 120%;
            color: $color-font;
            font-weight: bold;
            text-align: center;
            height: 20%;
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .form-fields {
            flex: 1 1 auto;
            align-items: center;
            justify-content: center;
            display: flex;
            height: 80%;

            form {
                height: 100%;
                width: 100%;

                .row {
                    display: flex;
                    padding-left: 10px;
                    padding-right: 10px;
                    flex-wrap: wrap;
                }

                .field {
                    display: flex;
                    justify-content: center;
                    flex: 1 .5;
                    margin-right: 10px;
                    margin-left: 10px;
                }
                
                .id,
                .serialKey,
                .trackerModel,
                .notes {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // height: 100%;

                    mat-form-field {
                        flex: .8 1 auto;
                    }
                }
            }
        }
    }
}


.dialog-footer {
    display: flex;
    padding-right: 24px;

    .footer-content {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: flex-end;

        .btn-save {
            flex: .1 -1 0%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
            font-size: 100%;
            background-color: #FFC937;
            color: white;
            font-weight: lighter;
        }
    }
}

@media screen and (max-height: 400px) {
    .btn-save {
        line-height: 24px !important;
    }
}

@media screen and (max-width: 600px),
(max-height : 600px) {
    .area-panel {
        max-width: unset !important;
        width: 100% !important;
        height: 100% !important;
    }
}

