<div class="card">
  <div class="close">
    <!-- <span><img src='assets/icons/x.png' /></span> -->
    <button type="button" class="mat-icon-button" mat-dialog-close>
        <span class="mat-button-wrapper">
            <img src='assets/icons/x.png' />
        </span>
      </button>
  </div>
  <div class="title">
    <div class="title-text">
      <h1>Companhia - Detalhes</h1>
    </div>
  </div>
  <div class="content">
    <div class="content-name">
      <div class="field" id="id">
        <div class="field-label">ID</div>
        <div class="field-content">{{data.id}}</div>
      </div>
      <div id="fantasyName">
        <h2>{{data.fantasyName | uppercase}}</h2>
      </div>
      <div id="socialName">{{data.socialName | uppercase}}</div>
      <div class="row">
        <div id="cnpj" class="field">
          <div class="field-label">CNPJ</div>
          <div class="field-content">{{data.cnpj | mask: '99.999.999/9999-99'}}</div>
        </div>
        <div id="registrationState" class="field">
          <div class="field-label">Registro Estadual</div>
          <div class="field-content">{{data.registrationState}}</div>
        </div>
        <div id="registrationMunicipal" class="field">
          <div class="field-label">Registro Municipal</div>
          <div class="field-content">{{data.registrationMunicipal}}</div>
        </div>
      </div>
    </div>
    <div class="content-localization">
      <div>
        <h2>Localização</h2>
      </div>
      <div class="row">
        <div class="field">
          <div class="field-label">RUA</div>
          <div class="field-content">{{data.street}}</div>
        </div>
        <div class="field">
          <div class="field-label">COMPLEMENTO</div>
          <div class="field-content">{{data.complement}}</div>
        </div>
        <div class="field">
          <div class="field-label">NÚMERO</div>
          <div class="field-content">{{data.houseNumber}}</div>
        </div>
        <div class="field">
          <div class="field-label">CEP</div>
          <div class="field-content">{{data.cep | mask: '99999-999'}}</div>
        </div>
      </div>
    </div>
    <div class="content-contact">
      <div>
        <h2>Contato</h2>
      </div>
      <div class="row">
        <div class="field">
          <div class="field-label">TELEFONE</div>
          <div class="field-content">{{data.telephoneNumber | phone}}</div>
        </div>
        <div class="field">
          <div class="field-label">NOME DO CONTATO</div>
          <div class="field-content">{{data.contactName}}</div>
        </div>
        <div class="field">
          <div class="field-label">EMAIL</div>
          <div class="field-content">{{data.email}}</div>
        </div>
        <div class="field">
          <div class="field-label">MATRIZ</div>
          <div class="field-content">{{ data.idBranch ? data.idBranch : 'Não Possui'}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <span class="footer-text">Informações atualizadas em {{ data.dateUpdate ? data.dateUpdate : now }}</span>
  </div>
</div>