
<div id="background-rastreador">
    <div id="conteiner">
      <div id="card">
        <div id="table-component">
          <!-- TABLE FILTER -->
          <div id="tfilter">
            <div id="title">
              <span>Rastreadores</span>
            </div>
            <div id="input-filter">
              <fury-list [columns]="columns" (filterChange)="onFilterChange($event)" fxLayoutAlign="center center" fxLayout="row"></fury-list>
            </div>
            <div id="add">
              <!-- <button mat-mini-fab matTooltip="Adicionar Item" [matTooltipPosition]="'above'" (click)="create()" id="create" style="background-color: #FFC937">
                <mat-icon aria-label="Adicionar">add</mat-icon>
              </button>
               -->
              <button mat-raised-button matTooltip="Adicionar Item" [matTooltipPosition]="'above'" (click)="create()" id="create" 
               style="background-color: #FFC937;
                      color: white;
                      font-size: 12px;">
                <!-- <mat-icon aria-label="Adicionar" style="font-size: 20px; padding-top: 4%;">add</mat-icon> -->
                CADASTRAR
              </button>
            </div>
          </div>
          <!-- TABLE HEADER -->
          <!-- The header is separate so you do not lose the filters or the sorting and keep the layout-->
          <div id="tmaster">
            <!-- <div id="thead" matSort>
              <div class="table-header">
                <div *ngFor="let column of columns" class="{{column.property}}" mat-sort-header="{{column.property}}" 
                [style.display]="column.visible ? 'flex' : 'none'" fxLayoutAlign="center">
                  {{column.name | uppercase}}
                </div>
              </div>
            </div> -->
            <!-- TABLE BODY -->
            <div id="tbody">
              <!-- Note: Mat-table does not compile without mat-cell -->
              <mat-table #table [dataSource]="dataSource" multiTemplateDataRows matSort>
              <!-- fullName Column -->
              <ng-container *ngFor="let column of columns">
                <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.name }}</mat-header-cell>
                  <mat-cell *matCellDef="let row" fxLayoutAlign="left">
                    <!-- <span class="fury-mobile-label">{{ column.name }}</span> -->
                    {{ extractValue(row,column.cellContent,column.property) }}
                  </mat-cell>
                </ng-container>
              </ng-container>

                 <!-- Expanded Row -->
                  <!-- 
               <ng-container matColumnDef="expandedDetail">
                <mat-cell *matCellDef="let row" [attr.colspan]="visibleColumns.length">
                    <div class="image">
                        <div class="element-detail">
                            <div class="picture">
                              <img [src]="urlImg(row.picture)" *ngIf="urlImg">
                            </div>
                          </div>
                    </div>
                  <div class="fields">
                    <div class="element-detail">
                      <label>Observação:</label>
                      <span>{{ row.observation }}</span>
                    </div>
                  </div>
                </mat-cell>
              </ng-container>
              -->

                <!-- actions Column -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef fxLayoutAlign="center"></mat-header-cell>
                  <mat-cell *matCellDef="let row" fxLayoutAlign="center">
                    <button matTooltip="Editar Item" [matTooltipPosition]="'above'" (click)="update(row)" class="btn-stroked btn-icon no-shadow">
                      <mat-icon aria-label="Editar">edit</mat-icon>
                    </button>
                    <button matTooltip="Deletar Item" [matTooltipPosition]="'above'" (click)="delete(row)" class="btn-stroked btn-icon no-shadow">
                      <mat-icon aria-label="Deletar">delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: visibleColumns;" class="clickable"></mat-row>

                <!-- Expanded Row -->
                <!--
                <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: visibleColumns;" matRipple class="element-row" [class.expanded]="expandedElement == row"
                  (click)="toggleRow(row)">
                </mat-row>
                <mat-row *matRowDef="let row; columns: ['expandedDetail'];" [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'"
                style="overflow: hidden">
                </mat-row>
                -->

              </mat-table>
            </div>
          </div>
          <!-- TABLE FOOTER -->
          <div id="tfooter">
            <mat-paginator class="paginator" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" color="primary"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>

