
@import "_custom_color_scheme.scss";
//$theme-background: map-get($map: $mat-sgm-primary, $key: 500);
$theme-background: #000000;

// Lista de campos
$fields: ('_id',
'serialKey',
'trackerModel',
'notes',
'actions'
);

// Padroniza o tamanho dos campos
$length: 100/length($fields)*1%;


@mixin column-width($property) {
    max-width: $property;
    min-width: $property;
    width: $property;    
}

// centralizes all container items
%flex-center {
    display: flex;
    flex: 1 1 auto;
    align-content: center;
    justify-content: center;
    align-items: center;
}

// Configurações não padrões para as colunas
%table-columns {

    @each $heading in $fields {

        .#{$heading} {
            @include column-width($length);
            margin-left: auto;
            margin-right: auto;
            padding-left: 24px; // sorting arrow discount
            font-size: 90%;
        }

        .mat-column-#{$heading} {
            @include column-width($length);
            margin-left: auto;
            margin-right: auto;
            font-size: 90%;
            color: white;
            @if #{$heading}==actions {
                button {
                    margin: 5px;
                }
            }
        }
    }
}

html,
body {
    height: 100%;
    margin: 0px;
    align-items: center;
}

#background-rastreador {
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    @extend %flex-center;
    max-width: 100%; //background: green;
    #conteiner {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: stretch;
        align-items: stretch;
        align-content: stretch;
        height: 91%;
        width: 91%;
        #card {
            flex: 1 1 auto;
            display: flex;
            flex-wrap: wrap;
            #table-component {
                //background-color: #273B56;
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                #tfilter {
                    @extend %flex-center;
                    display: flex;
                    min-height: 64px;
                    box-shadow: 0px 0px 3px rgba( black, 0.16);
                    color: $theme-background;
                    z-index: 2;
                    #title {
                        text-align: center;
                        font-size: 120%;
                        font-weight: bold;
                        display: flex;
                        flex: 1 1 auto;
                        max-width: 15%; //background: yellow;
                        border-right: 1px #707070 solid;
                        span {
                            flex: 1 1 auto;
                        }
                    }
                    #input-filter {
                        @extend %flex-center;
                        max-width: 76.5%;
                        fury-list {
                            flex: 1 1 auto;
                            .fury-list-table {
                                flex: 1 1 auto;
                                .fury-list-name {
                                    display: none;
                                }
                                .fury-list-header {
                                    border-bottom: unset !important;
                                    background: unset !important;
                                    div {
                                        align-items: center !important;
                                        justify-content: center !important;
                                    }
                                }
                            }
                        }
                    }
                    #add {
                        display: flex;
                        max-width: 8.5%;
                        @extend %flex-center;
                        button {
                            box-shadow: 0px 3px 6px rgba( black, 0.26);
                        }
                    }
                }
                #tmaster {
                    display: flex;
                    flex: 12 1 auto;
                    flex-direction: column;
                    #thead {
                        @extend %flex-center;
                        text-align: center;
                        //min-height: 35px;
                        background-color: #BDC3C7;

                        .mat-sort-header-container {
                            display: flex;
                            justify-content: center !important;
                        }
                        .table-header {
                            width: 100%;
                            //color: $theme-background;
                            color: white;
                            display: inline-flex;
                            flex: 2 1 auto;
                            font-weight: bold;
                            /* HEADER */
                            @extend %table-columns;
                        }
                    }
                    #tbody {
                        flex: 10 1 auto; // background: brown;
                        align-items: flex-start;
                        text-align: center;
                        display: flex;
                        box-shadow: 0px 0px 3px rgba( black, 0.16);
                        z-index: 1;
                        overflow: auto;
                        height: 0;
                        mat-table {
                            width: 100%;
                            mat-header-row {
                                // display: none;
                                @extend %table-columns;
                                background-color: #BDC3C7;
                            }
                            .mat-header-cell:first-child {
                                padding-left: unset !important;
                            }
                            .mat-header-cell:last-child {
                                padding-right: unset !important;
                            }
                            mat-row:hover {
                                background-color: rgba($theme-background, .08);
                            }
                            mat-cell {
                                color: $theme-background !important;
                                align-items: center !important;
                                padding-left: unset !important;
                                padding-right: unset !important;
                                font-size: 90%;
                            }
                            .mat-column-expandedDetail {
                                
                                -webkit-box-shadow: inset 0px 18px 10px -18px rgba(0,0,0,0.2);
                                -moz-box-shadow: inset 0px 18px 10px -18px rgba(0,0,0,0.2);
                                box-shadow: inset 0px 18px 10px -18px rgba(0,0,0,0.2);

                                .element-detail {
                                    padding: 20px;
                                    text-align: left;

                                    label {
                                        font-weight: 500;
                                    }

                                    p {
                                        font-weight: 300;
                                    }
                                }
                            }

                            .element-row {
                                position: relative;
                            }
                            /* BODY */
                            @extend %table-columns;
                        }
                    }
                }
                #tfooter {
                    @extend %flex-center;
                    text-align: center;
                    min-height: 60px;
                    .paginator {
                        width: 100%;
                        color: $theme-background;
                        font-size: 100%;
                    }
                }
            }
        }
    }
}

// caption formatting
.circle-small {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
}

.circle {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
}

@media screen and (max-width: 320px) {
    .paginator{
        font-size:14px !important;
    }
}

@media screen and (max-width: 360px) {
    #title {
        font-size: 100% !important;
    }
    .fury-filter-input{
        width: 140px;
    }
    .mat-paginator-range-label {
        margin: unset !important;
    }
}

@media screen and (max-width: 800px) {
    %unset-width{
        flex: 1 1 auto !important;
        max-width: unset !important;
        min-width: unset !important;
        width: unset !important;
    }
    #tfilter {
        #title, #input-filter, #add{
            @extend %unset-width;
        }
        #add{
            border-right: unset !important;
        }
    }
    #thead {
        display: none !important;
    }
    #tbody{
        height: 0px !important; // fix layout in the firefox
    }
        mat-table {
        @each $heading in $fields {
            .mat-column-#{$heading} {
                @include column-width(unset !important);
            }
        }

        mat-row {
            flex-flow: column;
        }
    }
    .mat-paginator-container {
        padding: 0 8px !important;
    }
    .fury-list-table .fury-list-header {
        margin: unset !important;
        padding: unset !important;
        .fury-column-filter {
            display: none !important;
        }
    }
}

