<div id="background-configuration">
  <div id="conteiner">
    <div id="card">
      <div id="table-component">
        <!-- TABLE FILTER -->
        <div id="tfilter">
          <div id="title">
            <span>Configurações</span>
          </div>

        </div>
        <!-- TABLE HEADER -->
        <div id="tmaster">
          <div id="thead">

          </div>
          <!-- TABLE BODY -->
          <div id="tbody">
            <mat-card class="item-card" (click)="user('user')">
              <mat-card-content>
                <mat-icon aria-label="Usuário" class="icons-settings">person</mat-icon>
                <p>
                  Usuário
                </p>
              </mat-card-content>
            </mat-card>

          </div>
        </div>
        <!-- TABLE FOOTER -->
        <div id="tfooter">

        </div>
      </div>
    </div>
  </div>
</div>