
<fury-dialog-panel>

    <div class="form-content">
        <div class="form-title" header-content>
            <span>Cadastrar Funcionário</span>
        </div>
        <div class="form-fields">
            <form [formGroup]="form">
                <div class="row" style="display: none"> 
                    <div class="id field" >
                        <mat-form-field>
                            <input matInput placeholder="Id" pattern="^(?!\s*$).+" formControlName="id" id="_id" />
                            <!-- <input *ngIf="isUpdateMode()" disabled matInput placeholder="Id" pattern="^(?!\s*$).+" formControlName="_id" id="_id" /> -->
                        </mat-form-field>                   
                    </div>
                </div>
                <div class="row"> 
                    <div class="name field"  >
                        <mat-form-field>
                            <input matInput placeholder="Nome" pattern="^(?!\s*$).+" formControlName="name" id="name" />
                        </mat-form-field>                   
                    </div>
                </div>
                <div class="row"> 
                    <div class="address field" >
                        <mat-form-field>
                            <input matInput placeholder="Endereço" pattern="^(?!\s*$).+" formControlName="address" id="address" />
                        </mat-form-field>                   
                    </div>
                </div>
                <div class="row"> 
                    <div class="company field" >
                        <mat-form-field>
                            <input matInput placeholder="Empresa" pattern="^(?!\s*$).+" formControlName="company" id="company" />
                        </mat-form-field>                   
                    </div>
                </div>
                <!-- <div class="row"> 
                    <div class="status field" >
                        <mat-form-field>
                            <input matInput placeholder="Status" pattern="^(?!\s*$).+" formControlName="status" id="status" />
                        </mat-form-field>                   
                    </div>
                </div> -->
            </form>
        </div>
    </div>
    <div class="footer-content" footer-content>
        <button *ngIf="isCreateMode()" mat-raised-button [disabled]="!form.valid" class="btn-save" (click)="save()" color="primary">SALVAR</button>
        <button *ngIf="isUpdateMode()" mat-raised-button [disabled]="!form.valid" class="btn-save" color="primary"  (click)="save()">ATUALIZAR</button>
    </div>

</fury-dialog-panel>