
<fury-dialog-panel>

    <div class="form-content">
        <div class="form-title" header-content>
            <span>Cadastrar Transportes</span>
        </div>
        <div class="form-fields">
            <form [formGroup]="form">
                <div class="row" style="display: none"> 
                    <div class="id field" >
                        <mat-form-field>
                            <input matInput placeholder="Id" pattern="^(?!\s*$).+" formControlName="_id" id="_id" />
                        </mat-form-field>                   
                    </div>
                </div>
                <div class="row" *ngIf="isCreateMode()"> 
                    <div class="name field">
                        <mat-form-field>
                            <mat-select [(value)]="selected" placeholder="Tipo de Veículo" (selectionChange)="typeChanged($event.value)">
                                <!-- <mat-option>None</mat-option> -->
                                <mat-option value="Carreta">Carreta</mat-option>
                                <mat-option value="Ônibus">Ônibus</mat-option>
                                <mat-option value="Carro">Carro</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- <p>Segmento: {{selected}}</p> -->
                    </div>
                </div>
                <div class="row" *ngIf="isCreateMode()"> 
                    <div class="name field">
                        <p>Segmento: {{selectedSegment}}</p>                   
                    </div>
                </div>
                <div class="row" *ngIf="isUpdateMode()"> 
                    <div class="name field">
                        <mat-form-field>
                            <input matInput placeholder="Tipo de Veículo" pattern="^(?!\s*$).+" formControlName="type" id="type" required />
                        </mat-form-field>                   
                    </div>
                </div>
                <div class="row" *ngIf="isUpdateMode()"> 
                    <div class="segment field">
                        <mat-form-field>
                            <input matInput placeholder="Segmento" pattern="^(?!\s*$).+" formControlName="segment" id="segment" required/>
                        </mat-form-field>                   
                    </div>
                </div>
                <div class="row"> 
                    <div class="vehiclePlate field">
                        <mat-form-field>
                            <input matInput placeholder="Placa do veículo" pattern="^(?!\s*$).+" formControlName="vehiclePlate" id="vehiclePlate" required />
                        </mat-form-field>
                    </div>
                </div>
                <!-- <div class="row"> 
                    <div class="capacity field">
                        <mat-form-field>
                            <input matInput placeholder="Capacidade" pattern="^(?!\s*$).+" formControlName="capacity" id="capacity" required />
                        </mat-form-field>
                    </div>
                </div> -->
                <div class="row"> 
                    <div class="thirdCompany field">
                        <mat-form-field>
                            <input matInput placeholder="Empresa" pattern="^(?!\s*$).+" formControlName="thirdCompany" id="thirdCompany" required />
                        </mat-form-field>
                    </div>
                </div>   
                <div class="row"> 
                    <div class="description field">
                        <mat-form-field>
                            <input matInput placeholder="Descrição" pattern="^(?!\s*$).+" formControlName="description" id="description" required />
                        </mat-form-field>
                    </div>
                </div>  
                <!-- <div class="row" *ngIf="isUpdateMode()">
                    <div class="idRastreador field">
                        <mat-form-field>
                            <mat-select placeholder="Adicione um rastreador" formControlName="idRastreador" id="idRastreador">
                                <mat-option *ngFor="let rastreador of rastreadores" [value]="rastreador.serialKey">
                                    {{rastreador.serialKey}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
    <div class="footer-content" footer-content>
        <button *ngIf="isCreateMode()" mat-raised-button [disabled]="!form.valid" class="btn-rounded btn-save" (click)="saveCustom()">SALVAR</button>
        <button *ngIf="isUpdateMode()" mat-raised-button [disabled]="!form.valid" class="btn-rounded btn-save" (click)="save()" style="background-color: #FFC937">ATUALIZAR</button>
    </div>

</fury-dialog-panel>

