
@import "_custom_color_scheme.scss";
$color-font: map-get($map: $mat-sgm-primary, $key: 500);

.dialog-content {
    .form-content {
        display: flex;
        flex-direction: column;
        height: 100%;

        .form-title {
            font-size: 150%;
            color: $color-font;
            font-weight: bold;
            text-align: center;
            height: 20%;
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .form-fields {
            flex: 1 1 auto;
            align-items: center;
            justify-content: center;
            display: flex;
            height: 80%;
            padding-left: 10%;
            padding-right: 10%;

            form {
                height: 100%;
                width: 100%;

                .description,
                // .idPeriodicity,
                .idServiceOrderType,
                .idTeam,
                .observation {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // height: 100%;

                    mat-form-field {
                        flex: 1 1 auto;
                    }
                }

                .observation {
                    textarea {
                        height: 180px;
                    }
                }
            }
        }
    }
}


.dialog-footer {
    display: flex;
    padding-right: 24px;

    .footer-content {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: flex-end;

        .btn-save {
            flex: .2 1 0%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
            font-size: 100%;
            font-weight: lighter;
        }
    }
}

@media screen and (max-height: 400px) {
    .btn-save {
        line-height: 24px !important;
    }
}

@media screen and (max-width: 600px),
(max-height : 600px) {
    .area-panel {
        max-width: unset !important;
        width: 100% !important;
        height: 100% !important;
    }
}

