


<fury-dialog-panel>

    <div class="form-content">
        <div class="form-title" header-content>
            <span>{{ data.title }}</span>
        </div>
        <div class="form-fields">
            <form [formGroup]="form">
                <div class="row">
                    <!-- Primeiro Nome -->
                    <div class="name field">
                        <mat-form-field>
                            <mat-select placeholder="Rastreadores" [(ngModel)]="selectedValue" id="idRastreador"> 
                              <mat-option *ngFor="let rastreador of rastreadores" [value]="rastreador.serialKey">
                                {{rastreador.serialKey}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>    
                <div class="row">
                    <div class="footer-content">
                        <!--
                        <button *ngIf="isCreateMode()" mat-raised-button [disabled]="!form.valid" class="btn-save" (click)="saveCustom()"
                            color="primary">SALVAR</button>
                        <button *ngIf="isUpdateMode()" mat-raised-button [disabled]="!form.valid" class="btn-save" color="primary"
                            (click)="saveCustom()">SALVAR</button>
                        -->    
                        <button mat-raised-button class="btn-save" mat-dialog-close>CANCELAR</button>
                        <button mat-raised-button class="btn-save" (click)="confirm()">CONFIRMAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</fury-dialog-panel>

